{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block content %}

    <section class="meli-center-center">
        <form method="post" class="kit-form meli-width-30 meli-bgc-colorPrimary meli-padding-30 meli-border-radius10">
            {% if error %}
                <p class="meli-txt-colorWhite meli-txt-italic">Erreur : veuillez recommencer</p>
            {% endif %}


            <h1 class="meli-txt-center meli-margin-bottom-20 meli-txt-colorWhite">Se connecter</h1>

            {% if error %}
                <p class="meli-txt-colorWhite meli-txt-italic meli-margin-bottom-20">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}

            <div class="meli-margin-bottom-30">
                <label for="username">Email</label>
                <input type="email" name="_username" id="username" class=""  required autofocus>
            </div>
            <div class="meli-margin-bottom-30">
                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" class="" autocomplete="current-password" required>
            </div>


            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="meli-center-center">
                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </div>

        </form>
    </section>

{% endblock %}
