<div>
    <p class="meli-txt-size20 meli-txt-bold meli-txt-center">Vous souhaitez acheter un de nos animaux ?</p>
    <p class="meli-txt-size20 meli-txt-bold meli-txt-center">Contactez-nous au 09 09 09 09 09</p>
</div>