{% if pagesTot > 0 %}
        <div class="pagination meli-around-center">
                {% for p in 1..pagesTot %}
                        <p  class="meli-margin-10">
                                {% set params = routeParams is defined ? routeParams|merge({"p":p}) : {"p":p} %}
                                <a href="{{ path(route,params) }}"
                                   class="{% if currentPage == p %} meli-txt-colorAction meli-txt-bold {% endif %}"
                                >
                                        {{ p }}
                                </a>
                        </p>
                {% endfor %}
        </div>
{% endif %}
