<section class="meli-section-50">
    <p class="meli-txt-center meli-padding-left-10 meli-padding-right-10">
        Bienvenue sur le site de la ferme DUPONT <br>
        Retrouvez nos animaux et n'hésitez pas à nous contacter par téléphone pour la moindre demande.
    </p>
</section>

