{% extends "base.html.twig" %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}

{% block content %}
    <section class="animal-list">
        <h1 class="meli-txt-center meli-margin-bottom-50">Liste des animaux à la vente</h1>

        {% include "front-office/animals/list/_filter.html.twig" %}

        {% include "front-office/animals/list/_result.html.twig" %}


        <div class="meli-center-center">
            {% include "partials/_pagination.html.twig" with {
                pagesTot: pagesTot,
                currrentPage: currentPage,
                route: "animal_list",
            } %}
        </div>



        <div class="meli-margin-top-30">
            {% include "partials/_cta_contact.html.twig" %}
        </div>
    </section>
{% endblock %}