*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html{
  scroll-behavior: smooth;
}

button{
  &:hover{
    cursor: pointer;
  }
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

main{
  min-height: 90vh;
}