@media screen and(max-width: 750px){
  header{
    display: flex;
    justify-content: flex-end;
    .burger{
      width: 50px;
      div{
        height: 3px;
        background-color: white;
        margin-bottom: 10px;
      }
    }
  }
}

.admin-aside{
  min-height: 90vh;

  @media screen and(max-width: 750px){
    min-height: 0;
    max-height: 0;
    padding-top: 0;
    transition: 0.3s ease max-height;
    overflow: hidden;

    &.open-mobile{
      max-height: 300px;
    }
  }
}

.admin-main{
  height: max-content;
}

.admin-content{
  min-height: 80vh;
  overflow-x: scroll;

  img{
    max-height: 200px;
  }
}

.admin-table{
  border-collapse: collapse;
  width: 100%;
  th,td{
    border:1px solid $colorPrimary;
    padding: 10px;
    text-align: center;
  }

  button{
    width: 150px;
  }

  a{
    display: inline-block;
    width: 150px;
  }
}

.admin-form{
  form{
    &>div{
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-bottom: 20px;

      label{
        margin-bottom: 10px;
      }

      input,textarea,select{
        padding: 5px;
      }

      &.row{
        flex-direction: row;
        align-items: center;
        label,input{
          width: fit-content;
          margin-bottom: 0;
          margin-left: 10px;
        }
      }

    }

    .ck-editor__main .ck-content{
      min-height: 300px;
    }
  }

}

.admin-btn{

  padding: 15px 30px;
  color: white;
  background-color: $colorAction;
  border: 1px solid $colorAction;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s ease all;

  &:hover{
    background-color: white;
    color: $colorAction;
  }

}