* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

button:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  min-height: 90vh;
}
@media screen and (max-width: 750px) {
  main {
    min-height: fit-content;
  }
}

/************************** 
          FLEXBOX 
**************************/
.meli-flex-column {
  flex-direction: column;
}

.meli-start-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 750px) {
  .meli-start-start {
    flex-direction: column;
  }

  .meli-start-start > * {
    width: 100%;
  }
}
.meli-start-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

@media screen and (max-width: 750px) {
  .meli-start-end {
    flex-direction: column;
  }

  .meli-start-end > * {
    width: 100%;
  }
}
.meli-start-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .meli-start-center {
    flex-direction: column;
  }

  .meli-start-center > * {
    width: 100%;
  }
}
.meli-end-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

@media screen and (max-width: 750px) {
  .meli-end-start {
    flex-direction: column;
  }

  .meli-end-start > * {
    width: 100%;
  }
}
.meli-end-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 750px) {
  .meli-end-end {
    flex-direction: column;
  }

  .meli-end-end > * {
    width: 100%;
  }
}
.meli-end-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .meli-end-center {
    flex-direction: column;
  }

  .meli-end-center > * {
    width: 100%;
  }
}
.meli-around-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

@media screen and (max-width: 750px) {
  .meli-around-start {
    flex-direction: column;
  }

  .meli-around-start > * {
    width: 100%;
  }
}
.meli-around-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}

@media screen and (max-width: 750px) {
  .meli-around-end {
    flex-direction: column;
  }

  .meli-around-end > * {
    width: 100%;
  }
}
.meli-around-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .meli-around-center {
    flex-direction: column;
  }

  .meli-around-center > * {
    width: 100%;
  }
}
.meli-between-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 750px) {
  .meli-between-start {
    flex-direction: column;
  }

  .meli-between-start > * {
    width: 100%;
  }
}
.meli-between-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 750px) {
  .meli-between-end {
    flex-direction: column;
  }

  .meli-between-end > * {
    width: 100%;
  }
}
.meli-between-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .meli-between-center {
    flex-direction: column;
  }

  .meli-between-center > * {
    width: 100%;
  }
}
.meli-evenly-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

@media screen and (max-width: 750px) {
  .meli-evenly-start {
    flex-direction: column;
  }

  .meli-evenly-start > * {
    width: 100%;
  }
}
.meli-evenly-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

@media screen and (max-width: 750px) {
  .meli-evenly-end {
    flex-direction: column;
  }

  .meli-evenly-end > * {
    width: 100%;
  }
}
.meli-evenly-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .meli-evenly-center {
    flex-direction: column;
  }

  .meli-evenly-center > * {
    width: 100%;
  }
}
.meli-center-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 750px) {
  .meli-center-start {
    flex-direction: column;
  }

  .meli-center-start > * {
    width: 100%;
  }
}
.meli-center-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 750px) {
  .meli-center-end {
    flex-direction: column;
  }

  .meli-center-end > * {
    width: 100%;
  }
}
.meli-center-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .meli-center-center {
    flex-direction: column;
  }

  .meli-center-center > * {
    width: 100%;
  }
}
/************************** 
           TEXT 
**************************/
.meli-txt-center {
  text-align: center;
}

.meli-txt-left {
  text-align: left;
}

.meli-txt-right {
  text-align: right;
}

.meli-txt-bold {
  font-weight: bold;
}

.meli-txt-regular {
  font-weight: normal;
}

.meli-txt-italic {
  font-style: italic;
}

.meli-txt-underline {
  text-decoration: underline;
}

.meli-txt-no-underline {
  text-decoration: none;
}

.meli-txt-size12 {
  font-size: 12px;
}

.meli-txt-size13 {
  font-size: 13px;
}

.meli-txt-size14 {
  font-size: 14px;
}

.meli-txt-size15 {
  font-size: 15px;
}

.meli-txt-size16 {
  font-size: 16px;
}

.meli-txt-size17 {
  font-size: 17px;
}

.meli-txt-size18 {
  font-size: 18px;
}

.meli-txt-size19 {
  font-size: 19px;
}

.meli-txt-size20 {
  font-size: 20px;
}

.meli-txt-size21 {
  font-size: 21px;
}

.meli-txt-size22 {
  font-size: 22px;
}

.meli-txt-size23 {
  font-size: 23px;
}

.meli-txt-size24 {
  font-size: 24px;
}

.meli-txt-size25 {
  font-size: 25px;
}

.meli-txt-size26 {
  font-size: 26px;
}

.meli-txt-size27 {
  font-size: 27px;
}

.meli-txt-size28 {
  font-size: 28px;
}

.meli-txt-size29 {
  font-size: 29px;
}

.meli-txt-size30 {
  font-size: 30px;
}

.meli-txt-size31 {
  font-size: 31px;
}

.meli-txt-size32 {
  font-size: 32px;
}

.meli-txt-size33 {
  font-size: 33px;
}

.meli-txt-size34 {
  font-size: 34px;
}

.meli-txt-size35 {
  font-size: 35px;
}

.meli-txt-size36 {
  font-size: 36px;
}

.meli-txt-size37 {
  font-size: 37px;
}

.meli-txt-size38 {
  font-size: 38px;
}

.meli-txt-size39 {
  font-size: 39px;
}

.meli-txt-size40 {
  font-size: 40px;
}

.meli-txt-size41 {
  font-size: 41px;
}

.meli-txt-size42 {
  font-size: 42px;
}

.meli-txt-size43 {
  font-size: 43px;
}

.meli-txt-size44 {
  font-size: 44px;
}

.meli-txt-size45 {
  font-size: 45px;
}

.meli-txt-size46 {
  font-size: 46px;
}

.meli-txt-size47 {
  font-size: 47px;
}

.meli-txt-size48 {
  font-size: 48px;
}

.meli-txt-size49 {
  font-size: 49px;
}

.meli-txt-size50 {
  font-size: 50px;
}

/************************** 
       TEXT COLOR 
**************************/
.meli-txt-colorPrimary {
  color: #45619b;
}

.meli-txt-colorSecondary {
  color: #176880;
}

.meli-txt-colorThird {
  color: #cfe6ed;
}

.meli-txt-colorAction {
  color: #f37619;
}

.meli-txt-colorWhite {
  color: white;
}

/************************** 
        BACKGROUND COLOR 
**************************/
.meli-bgc-colorPrimary {
  background-color: #45619b;
}

.meli-bgc-colorSecondary {
  background-color: #176880;
}

.meli-bgc-colorThird {
  background-color: #cfe6ed;
}

.meli-bgc-colorAction {
  background-color: #f37619;
}

.meli-bgc-colorWhite {
  background-color: white;
}

/************************** 
            BORDER 
**************************/
.meli-border-radius5 {
  border-radius: 5px;
}

.meli-border-radius10 {
  border-radius: 10px;
}

.meli-border-radius15 {
  border-radius: 15px;
}

.meli-border-radius20 {
  border-radius: 20px;
}

.meli-border-radius25 {
  border-radius: 25px;
}

.meli-border-radius30 {
  border-radius: 30px;
}

.meli-border-width1 {
  border-width: 1px;
  border-style: solid;
}

.meli-border-width2 {
  border-width: 2px;
  border-style: solid;
}

.meli-border-width3 {
  border-width: 3px;
  border-style: solid;
}

.meli-border-width4 {
  border-width: 4px;
  border-style: solid;
}

.meli-border-width5 {
  border-width: 5px;
  border-style: solid;
}

.meli-border-colorPrimary {
  border-color: #45619b;
}

.meli-border-colorSecondary {
  border-color: #176880;
}

.meli-border-colorThird {
  border-color: #cfe6ed;
}

.meli-border-colorAction {
  border-color: #f37619;
}

/************************** 
          SECTION 
**************************/
.meli-section-full {
  width: 100%;
  height: 100vh;
}

.meli-section-5 {
  width: 5%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-5 {
    width: 100%;
  }
}
.meli-section-10 {
  width: 10%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-10 {
    width: 100%;
  }
}
.meli-section-15 {
  width: 15%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-15 {
    width: 100%;
  }
}
.meli-section-20 {
  width: 20%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-20 {
    width: 100%;
  }
}
.meli-section-25 {
  width: 25%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-25 {
    width: 100%;
  }
}
.meli-section-30 {
  width: 30%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-30 {
    width: 100%;
  }
}
.meli-section-35 {
  width: 35%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-35 {
    width: 100%;
  }
}
.meli-section-40 {
  width: 40%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-40 {
    width: 100%;
  }
}
.meli-section-45 {
  width: 45%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-45 {
    width: 100%;
  }
}
.meli-section-50 {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-50 {
    width: 100%;
  }
}
.meli-section-55 {
  width: 55%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-55 {
    width: 100%;
  }
}
.meli-section-60 {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-60 {
    width: 100%;
  }
}
.meli-section-65 {
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-65 {
    width: 100%;
  }
}
.meli-section-70 {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-70 {
    width: 100%;
  }
}
.meli-section-75 {
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-75 {
    width: 100%;
  }
}
.meli-section-80 {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-80 {
    width: 100%;
  }
}
.meli-section-85 {
  width: 85%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-85 {
    width: 100%;
  }
}
.meli-section-90 {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-90 {
    width: 100%;
  }
}
.meli-section-95 {
  width: 95%;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .meli-section-95 {
    width: 100%;
  }
}
/************************** 
           WIDTH 
**************************/
.meli-width-5 {
  width: 5%;
}

@media screen and (max-width: 750px) {
  .meli-width-5 {
    width: 100%;
  }
}
.meli-width-10 {
  width: 10%;
}

@media screen and (max-width: 750px) {
  .meli-width-10 {
    width: 100%;
  }
}
.meli-width-15 {
  width: 15%;
}

@media screen and (max-width: 750px) {
  .meli-width-15 {
    width: 100%;
  }
}
.meli-width-20 {
  width: 20%;
}

@media screen and (max-width: 750px) {
  .meli-width-20 {
    width: 100%;
  }
}
.meli-width-25 {
  width: 25%;
}

@media screen and (max-width: 750px) {
  .meli-width-25 {
    width: 100%;
  }
}
.meli-width-30 {
  width: 30%;
}

@media screen and (max-width: 750px) {
  .meli-width-30 {
    width: 100%;
  }
}
.meli-width-35 {
  width: 35%;
}

@media screen and (max-width: 750px) {
  .meli-width-35 {
    width: 100%;
  }
}
.meli-width-40 {
  width: 40%;
}

@media screen and (max-width: 750px) {
  .meli-width-40 {
    width: 100%;
  }
}
.meli-width-45 {
  width: 45%;
}

@media screen and (max-width: 750px) {
  .meli-width-45 {
    width: 100%;
  }
}
.meli-width-50 {
  width: 50%;
}

@media screen and (max-width: 750px) {
  .meli-width-50 {
    width: 100%;
  }
}
.meli-width-55 {
  width: 55%;
}

@media screen and (max-width: 750px) {
  .meli-width-55 {
    width: 100%;
  }
}
.meli-width-60 {
  width: 60%;
}

@media screen and (max-width: 750px) {
  .meli-width-60 {
    width: 100%;
  }
}
.meli-width-65 {
  width: 65%;
}

@media screen and (max-width: 750px) {
  .meli-width-65 {
    width: 100%;
  }
}
.meli-width-70 {
  width: 70%;
}

@media screen and (max-width: 750px) {
  .meli-width-70 {
    width: 100%;
  }
}
.meli-width-75 {
  width: 75%;
}

@media screen and (max-width: 750px) {
  .meli-width-75 {
    width: 100%;
  }
}
.meli-width-80 {
  width: 80%;
}

@media screen and (max-width: 750px) {
  .meli-width-80 {
    width: 100%;
  }
}
.meli-width-85 {
  width: 85%;
}

@media screen and (max-width: 750px) {
  .meli-width-85 {
    width: 100%;
  }
}
.meli-width-90 {
  width: 90%;
}

@media screen and (max-width: 750px) {
  .meli-width-90 {
    width: 100%;
  }
}
.meli-width-95 {
  width: 95%;
}

@media screen and (max-width: 750px) {
  .meli-width-95 {
    width: 100%;
  }
}
.meli-width-100 {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .meli-width-100 {
    width: 100%;
  }
}
/************************** 
           MARGIN 
**************************/
.meli-margin-5 {
  margin: 5px;
}

.meli-margin-10 {
  margin: 10px;
}

.meli-margin-15 {
  margin: 15px;
}

.meli-margin-20 {
  margin: 20px;
}

.meli-margin-25 {
  margin: 25px;
}

.meli-margin-30 {
  margin: 30px;
}

.meli-margin-35 {
  margin: 35px;
}

.meli-margin-40 {
  margin: 40px;
}

.meli-margin-45 {
  margin: 45px;
}

.meli-margin-50 {
  margin: 50px;
}

.meli-margin-55 {
  margin: 55px;
}

.meli-margin-60 {
  margin: 60px;
}

.meli-margin-65 {
  margin: 65px;
}

.meli-margin-70 {
  margin: 70px;
}

.meli-margin-75 {
  margin: 75px;
}

.meli-margin-80 {
  margin: 80px;
}

.meli-margin-85 {
  margin: 85px;
}

.meli-margin-90 {
  margin: 90px;
}

.meli-margin-95 {
  margin: 95px;
}

.meli-margin-100 {
  margin: 100px;
}

.meli-margin-105 {
  margin: 105px;
}

.meli-margin-110 {
  margin: 110px;
}

.meli-margin-115 {
  margin: 115px;
}

.meli-margin-120 {
  margin: 120px;
}

.meli-margin-125 {
  margin: 125px;
}

.meli-margin-130 {
  margin: 130px;
}

.meli-margin-135 {
  margin: 135px;
}

.meli-margin-140 {
  margin: 140px;
}

.meli-margin-145 {
  margin: 145px;
}

.meli-margin-150 {
  margin: 150px;
}

.meli-margin-155 {
  margin: 155px;
}

.meli-margin-160 {
  margin: 160px;
}

.meli-margin-165 {
  margin: 165px;
}

.meli-margin-170 {
  margin: 170px;
}

.meli-margin-175 {
  margin: 175px;
}

.meli-margin-180 {
  margin: 180px;
}

.meli-margin-185 {
  margin: 185px;
}

.meli-margin-190 {
  margin: 190px;
}

.meli-margin-195 {
  margin: 195px;
}

.meli-margin-200 {
  margin: 200px;
}

.meli-margin-top-5 {
  margin-top: 5px;
}

.meli-margin-top-10 {
  margin-top: 10px;
}

.meli-margin-top-15 {
  margin-top: 15px;
}

.meli-margin-top-20 {
  margin-top: 20px;
}

.meli-margin-top-25 {
  margin-top: 25px;
}

.meli-margin-top-30 {
  margin-top: 30px;
}

.meli-margin-top-35 {
  margin-top: 35px;
}

.meli-margin-top-40 {
  margin-top: 40px;
}

.meli-margin-top-45 {
  margin-top: 45px;
}

.meli-margin-top-50 {
  margin-top: 50px;
}

.meli-margin-top-55 {
  margin-top: 55px;
}

.meli-margin-top-60 {
  margin-top: 60px;
}

.meli-margin-top-65 {
  margin-top: 65px;
}

.meli-margin-top-70 {
  margin-top: 70px;
}

.meli-margin-top-75 {
  margin-top: 75px;
}

.meli-margin-top-80 {
  margin-top: 80px;
}

.meli-margin-top-85 {
  margin-top: 85px;
}

.meli-margin-top-90 {
  margin-top: 90px;
}

.meli-margin-top-95 {
  margin-top: 95px;
}

.meli-margin-top-100 {
  margin-top: 100px;
}

.meli-margin-top-105 {
  margin-top: 105px;
}

.meli-margin-top-110 {
  margin-top: 110px;
}

.meli-margin-top-115 {
  margin-top: 115px;
}

.meli-margin-top-120 {
  margin-top: 120px;
}

.meli-margin-top-125 {
  margin-top: 125px;
}

.meli-margin-top-130 {
  margin-top: 130px;
}

.meli-margin-top-135 {
  margin-top: 135px;
}

.meli-margin-top-140 {
  margin-top: 140px;
}

.meli-margin-top-145 {
  margin-top: 145px;
}

.meli-margin-top-150 {
  margin-top: 150px;
}

.meli-margin-top-155 {
  margin-top: 155px;
}

.meli-margin-top-160 {
  margin-top: 160px;
}

.meli-margin-top-165 {
  margin-top: 165px;
}

.meli-margin-top-170 {
  margin-top: 170px;
}

.meli-margin-top-175 {
  margin-top: 175px;
}

.meli-margin-top-180 {
  margin-top: 180px;
}

.meli-margin-top-185 {
  margin-top: 185px;
}

.meli-margin-top-190 {
  margin-top: 190px;
}

.meli-margin-top-195 {
  margin-top: 195px;
}

.meli-margin-top-200 {
  margin-top: 200px;
}

.meli-margin-bottom-5 {
  margin-bottom: 5px;
}

.meli-margin-bottom-10 {
  margin-bottom: 10px;
}

.meli-margin-bottom-15 {
  margin-bottom: 15px;
}

.meli-margin-bottom-20 {
  margin-bottom: 20px;
}

.meli-margin-bottom-25 {
  margin-bottom: 25px;
}

.meli-margin-bottom-30 {
  margin-bottom: 30px;
}

.meli-margin-bottom-35 {
  margin-bottom: 35px;
}

.meli-margin-bottom-40 {
  margin-bottom: 40px;
}

.meli-margin-bottom-45 {
  margin-bottom: 45px;
}

.meli-margin-bottom-50 {
  margin-bottom: 50px;
}

.meli-margin-bottom-55 {
  margin-bottom: 55px;
}

.meli-margin-bottom-60 {
  margin-bottom: 60px;
}

.meli-margin-bottom-65 {
  margin-bottom: 65px;
}

.meli-margin-bottom-70 {
  margin-bottom: 70px;
}

.meli-margin-bottom-75 {
  margin-bottom: 75px;
}

.meli-margin-bottom-80 {
  margin-bottom: 80px;
}

.meli-margin-bottom-85 {
  margin-bottom: 85px;
}

.meli-margin-bottom-90 {
  margin-bottom: 90px;
}

.meli-margin-bottom-95 {
  margin-bottom: 95px;
}

.meli-margin-bottom-100 {
  margin-bottom: 100px;
}

.meli-margin-bottom-105 {
  margin-bottom: 105px;
}

.meli-margin-bottom-110 {
  margin-bottom: 110px;
}

.meli-margin-bottom-115 {
  margin-bottom: 115px;
}

.meli-margin-bottom-120 {
  margin-bottom: 120px;
}

.meli-margin-bottom-125 {
  margin-bottom: 125px;
}

.meli-margin-bottom-130 {
  margin-bottom: 130px;
}

.meli-margin-bottom-135 {
  margin-bottom: 135px;
}

.meli-margin-bottom-140 {
  margin-bottom: 140px;
}

.meli-margin-bottom-145 {
  margin-bottom: 145px;
}

.meli-margin-bottom-150 {
  margin-bottom: 150px;
}

.meli-margin-bottom-155 {
  margin-bottom: 155px;
}

.meli-margin-bottom-160 {
  margin-bottom: 160px;
}

.meli-margin-bottom-165 {
  margin-bottom: 165px;
}

.meli-margin-bottom-170 {
  margin-bottom: 170px;
}

.meli-margin-bottom-175 {
  margin-bottom: 175px;
}

.meli-margin-bottom-180 {
  margin-bottom: 180px;
}

.meli-margin-bottom-185 {
  margin-bottom: 185px;
}

.meli-margin-bottom-190 {
  margin-bottom: 190px;
}

.meli-margin-bottom-195 {
  margin-bottom: 195px;
}

.meli-margin-bottom-200 {
  margin-bottom: 200px;
}

.meli-margin-left-5 {
  margin-left: 5px;
}

.meli-margin-left-10 {
  margin-left: 10px;
}

.meli-margin-left-15 {
  margin-left: 15px;
}

.meli-margin-left-20 {
  margin-left: 20px;
}

.meli-margin-left-25 {
  margin-left: 25px;
}

.meli-margin-left-30 {
  margin-left: 30px;
}

.meli-margin-left-35 {
  margin-left: 35px;
}

.meli-margin-left-40 {
  margin-left: 40px;
}

.meli-margin-left-45 {
  margin-left: 45px;
}

.meli-margin-left-50 {
  margin-left: 50px;
}

.meli-margin-left-55 {
  margin-left: 55px;
}

.meli-margin-left-60 {
  margin-left: 60px;
}

.meli-margin-left-65 {
  margin-left: 65px;
}

.meli-margin-left-70 {
  margin-left: 70px;
}

.meli-margin-left-75 {
  margin-left: 75px;
}

.meli-margin-left-80 {
  margin-left: 80px;
}

.meli-margin-left-85 {
  margin-left: 85px;
}

.meli-margin-left-90 {
  margin-left: 90px;
}

.meli-margin-left-95 {
  margin-left: 95px;
}

.meli-margin-left-100 {
  margin-left: 100px;
}

.meli-margin-left-105 {
  margin-left: 105px;
}

.meli-margin-left-110 {
  margin-left: 110px;
}

.meli-margin-left-115 {
  margin-left: 115px;
}

.meli-margin-left-120 {
  margin-left: 120px;
}

.meli-margin-left-125 {
  margin-left: 125px;
}

.meli-margin-left-130 {
  margin-left: 130px;
}

.meli-margin-left-135 {
  margin-left: 135px;
}

.meli-margin-left-140 {
  margin-left: 140px;
}

.meli-margin-left-145 {
  margin-left: 145px;
}

.meli-margin-left-150 {
  margin-left: 150px;
}

.meli-margin-left-155 {
  margin-left: 155px;
}

.meli-margin-left-160 {
  margin-left: 160px;
}

.meli-margin-left-165 {
  margin-left: 165px;
}

.meli-margin-left-170 {
  margin-left: 170px;
}

.meli-margin-left-175 {
  margin-left: 175px;
}

.meli-margin-left-180 {
  margin-left: 180px;
}

.meli-margin-left-185 {
  margin-left: 185px;
}

.meli-margin-left-190 {
  margin-left: 190px;
}

.meli-margin-left-195 {
  margin-left: 195px;
}

.meli-margin-left-200 {
  margin-left: 200px;
}

.meli-margin-right-5 {
  margin-right: 5px;
}

.meli-margin-right-10 {
  margin-right: 10px;
}

.meli-margin-right-15 {
  margin-right: 15px;
}

.meli-margin-right-20 {
  margin-right: 20px;
}

.meli-margin-right-25 {
  margin-right: 25px;
}

.meli-margin-right-30 {
  margin-right: 30px;
}

.meli-margin-right-35 {
  margin-right: 35px;
}

.meli-margin-right-40 {
  margin-right: 40px;
}

.meli-margin-right-45 {
  margin-right: 45px;
}

.meli-margin-right-50 {
  margin-right: 50px;
}

.meli-margin-right-55 {
  margin-right: 55px;
}

.meli-margin-right-60 {
  margin-right: 60px;
}

.meli-margin-right-65 {
  margin-right: 65px;
}

.meli-margin-right-70 {
  margin-right: 70px;
}

.meli-margin-right-75 {
  margin-right: 75px;
}

.meli-margin-right-80 {
  margin-right: 80px;
}

.meli-margin-right-85 {
  margin-right: 85px;
}

.meli-margin-right-90 {
  margin-right: 90px;
}

.meli-margin-right-95 {
  margin-right: 95px;
}

.meli-margin-right-100 {
  margin-right: 100px;
}

.meli-margin-right-105 {
  margin-right: 105px;
}

.meli-margin-right-110 {
  margin-right: 110px;
}

.meli-margin-right-115 {
  margin-right: 115px;
}

.meli-margin-right-120 {
  margin-right: 120px;
}

.meli-margin-right-125 {
  margin-right: 125px;
}

.meli-margin-right-130 {
  margin-right: 130px;
}

.meli-margin-right-135 {
  margin-right: 135px;
}

.meli-margin-right-140 {
  margin-right: 140px;
}

.meli-margin-right-145 {
  margin-right: 145px;
}

.meli-margin-right-150 {
  margin-right: 150px;
}

.meli-margin-right-155 {
  margin-right: 155px;
}

.meli-margin-right-160 {
  margin-right: 160px;
}

.meli-margin-right-165 {
  margin-right: 165px;
}

.meli-margin-right-170 {
  margin-right: 170px;
}

.meli-margin-right-175 {
  margin-right: 175px;
}

.meli-margin-right-180 {
  margin-right: 180px;
}

.meli-margin-right-185 {
  margin-right: 185px;
}

.meli-margin-right-190 {
  margin-right: 190px;
}

.meli-margin-right-195 {
  margin-right: 195px;
}

.meli-margin-right-200 {
  margin-right: 200px;
}

/************************** 
           PADDING 
**************************/
.meli-padding-5 {
  padding: 5px;
}

.meli-padding-10 {
  padding: 10px;
}

.meli-padding-15 {
  padding: 15px;
}

.meli-padding-20 {
  padding: 20px;
}

.meli-padding-25 {
  padding: 25px;
}

.meli-padding-30 {
  padding: 30px;
}

.meli-padding-35 {
  padding: 35px;
}

.meli-padding-40 {
  padding: 40px;
}

.meli-padding-45 {
  padding: 45px;
}

.meli-padding-50 {
  padding: 50px;
}

.meli-padding-55 {
  padding: 55px;
}

.meli-padding-60 {
  padding: 60px;
}

.meli-padding-65 {
  padding: 65px;
}

.meli-padding-70 {
  padding: 70px;
}

.meli-padding-75 {
  padding: 75px;
}

.meli-padding-80 {
  padding: 80px;
}

.meli-padding-85 {
  padding: 85px;
}

.meli-padding-90 {
  padding: 90px;
}

.meli-padding-95 {
  padding: 95px;
}

.meli-padding-100 {
  padding: 100px;
}

.meli-padding-105 {
  padding: 105px;
}

.meli-padding-110 {
  padding: 110px;
}

.meli-padding-115 {
  padding: 115px;
}

.meli-padding-120 {
  padding: 120px;
}

.meli-padding-125 {
  padding: 125px;
}

.meli-padding-130 {
  padding: 130px;
}

.meli-padding-135 {
  padding: 135px;
}

.meli-padding-140 {
  padding: 140px;
}

.meli-padding-145 {
  padding: 145px;
}

.meli-padding-150 {
  padding: 150px;
}

.meli-padding-155 {
  padding: 155px;
}

.meli-padding-160 {
  padding: 160px;
}

.meli-padding-165 {
  padding: 165px;
}

.meli-padding-170 {
  padding: 170px;
}

.meli-padding-175 {
  padding: 175px;
}

.meli-padding-180 {
  padding: 180px;
}

.meli-padding-185 {
  padding: 185px;
}

.meli-padding-190 {
  padding: 190px;
}

.meli-padding-195 {
  padding: 195px;
}

.meli-padding-200 {
  padding: 200px;
}

.meli-padding-top-5 {
  padding-top: 5px;
}

.meli-padding-top-10 {
  padding-top: 10px;
}

.meli-padding-top-15 {
  padding-top: 15px;
}

.meli-padding-top-20 {
  padding-top: 20px;
}

.meli-padding-top-25 {
  padding-top: 25px;
}

.meli-padding-top-30 {
  padding-top: 30px;
}

.meli-padding-top-35 {
  padding-top: 35px;
}

.meli-padding-top-40 {
  padding-top: 40px;
}

.meli-padding-top-45 {
  padding-top: 45px;
}

.meli-padding-top-50 {
  padding-top: 50px;
}

.meli-padding-top-55 {
  padding-top: 55px;
}

.meli-padding-top-60 {
  padding-top: 60px;
}

.meli-padding-top-65 {
  padding-top: 65px;
}

.meli-padding-top-70 {
  padding-top: 70px;
}

.meli-padding-top-75 {
  padding-top: 75px;
}

.meli-padding-top-80 {
  padding-top: 80px;
}

.meli-padding-top-85 {
  padding-top: 85px;
}

.meli-padding-top-90 {
  padding-top: 90px;
}

.meli-padding-top-95 {
  padding-top: 95px;
}

.meli-padding-top-100 {
  padding-top: 100px;
}

.meli-padding-top-105 {
  padding-top: 105px;
}

.meli-padding-top-110 {
  padding-top: 110px;
}

.meli-padding-top-115 {
  padding-top: 115px;
}

.meli-padding-top-120 {
  padding-top: 120px;
}

.meli-padding-top-125 {
  padding-top: 125px;
}

.meli-padding-top-130 {
  padding-top: 130px;
}

.meli-padding-top-135 {
  padding-top: 135px;
}

.meli-padding-top-140 {
  padding-top: 140px;
}

.meli-padding-top-145 {
  padding-top: 145px;
}

.meli-padding-top-150 {
  padding-top: 150px;
}

.meli-padding-top-155 {
  padding-top: 155px;
}

.meli-padding-top-160 {
  padding-top: 160px;
}

.meli-padding-top-165 {
  padding-top: 165px;
}

.meli-padding-top-170 {
  padding-top: 170px;
}

.meli-padding-top-175 {
  padding-top: 175px;
}

.meli-padding-top-180 {
  padding-top: 180px;
}

.meli-padding-top-185 {
  padding-top: 185px;
}

.meli-padding-top-190 {
  padding-top: 190px;
}

.meli-padding-top-195 {
  padding-top: 195px;
}

.meli-padding-top-200 {
  padding-top: 200px;
}

.meli-padding-bottom-5 {
  padding-bottom: 5px;
}

.meli-padding-bottom-10 {
  padding-bottom: 10px;
}

.meli-padding-bottom-15 {
  padding-bottom: 15px;
}

.meli-padding-bottom-20 {
  padding-bottom: 20px;
}

.meli-padding-bottom-25 {
  padding-bottom: 25px;
}

.meli-padding-bottom-30 {
  padding-bottom: 30px;
}

.meli-padding-bottom-35 {
  padding-bottom: 35px;
}

.meli-padding-bottom-40 {
  padding-bottom: 40px;
}

.meli-padding-bottom-45 {
  padding-bottom: 45px;
}

.meli-padding-bottom-50 {
  padding-bottom: 50px;
}

.meli-padding-bottom-55 {
  padding-bottom: 55px;
}

.meli-padding-bottom-60 {
  padding-bottom: 60px;
}

.meli-padding-bottom-65 {
  padding-bottom: 65px;
}

.meli-padding-bottom-70 {
  padding-bottom: 70px;
}

.meli-padding-bottom-75 {
  padding-bottom: 75px;
}

.meli-padding-bottom-80 {
  padding-bottom: 80px;
}

.meli-padding-bottom-85 {
  padding-bottom: 85px;
}

.meli-padding-bottom-90 {
  padding-bottom: 90px;
}

.meli-padding-bottom-95 {
  padding-bottom: 95px;
}

.meli-padding-bottom-100 {
  padding-bottom: 100px;
}

.meli-padding-bottom-105 {
  padding-bottom: 105px;
}

.meli-padding-bottom-110 {
  padding-bottom: 110px;
}

.meli-padding-bottom-115 {
  padding-bottom: 115px;
}

.meli-padding-bottom-120 {
  padding-bottom: 120px;
}

.meli-padding-bottom-125 {
  padding-bottom: 125px;
}

.meli-padding-bottom-130 {
  padding-bottom: 130px;
}

.meli-padding-bottom-135 {
  padding-bottom: 135px;
}

.meli-padding-bottom-140 {
  padding-bottom: 140px;
}

.meli-padding-bottom-145 {
  padding-bottom: 145px;
}

.meli-padding-bottom-150 {
  padding-bottom: 150px;
}

.meli-padding-bottom-155 {
  padding-bottom: 155px;
}

.meli-padding-bottom-160 {
  padding-bottom: 160px;
}

.meli-padding-bottom-165 {
  padding-bottom: 165px;
}

.meli-padding-bottom-170 {
  padding-bottom: 170px;
}

.meli-padding-bottom-175 {
  padding-bottom: 175px;
}

.meli-padding-bottom-180 {
  padding-bottom: 180px;
}

.meli-padding-bottom-185 {
  padding-bottom: 185px;
}

.meli-padding-bottom-190 {
  padding-bottom: 190px;
}

.meli-padding-bottom-195 {
  padding-bottom: 195px;
}

.meli-padding-bottom-200 {
  padding-bottom: 200px;
}

.meli-padding-left-5 {
  padding-left: 5px;
}

.meli-padding-left-10 {
  padding-left: 10px;
}

.meli-padding-left-15 {
  padding-left: 15px;
}

.meli-padding-left-20 {
  padding-left: 20px;
}

.meli-padding-left-25 {
  padding-left: 25px;
}

.meli-padding-left-30 {
  padding-left: 30px;
}

.meli-padding-left-35 {
  padding-left: 35px;
}

.meli-padding-left-40 {
  padding-left: 40px;
}

.meli-padding-left-45 {
  padding-left: 45px;
}

.meli-padding-left-50 {
  padding-left: 50px;
}

.meli-padding-left-55 {
  padding-left: 55px;
}

.meli-padding-left-60 {
  padding-left: 60px;
}

.meli-padding-left-65 {
  padding-left: 65px;
}

.meli-padding-left-70 {
  padding-left: 70px;
}

.meli-padding-left-75 {
  padding-left: 75px;
}

.meli-padding-left-80 {
  padding-left: 80px;
}

.meli-padding-left-85 {
  padding-left: 85px;
}

.meli-padding-left-90 {
  padding-left: 90px;
}

.meli-padding-left-95 {
  padding-left: 95px;
}

.meli-padding-left-100 {
  padding-left: 100px;
}

.meli-padding-left-105 {
  padding-left: 105px;
}

.meli-padding-left-110 {
  padding-left: 110px;
}

.meli-padding-left-115 {
  padding-left: 115px;
}

.meli-padding-left-120 {
  padding-left: 120px;
}

.meli-padding-left-125 {
  padding-left: 125px;
}

.meli-padding-left-130 {
  padding-left: 130px;
}

.meli-padding-left-135 {
  padding-left: 135px;
}

.meli-padding-left-140 {
  padding-left: 140px;
}

.meli-padding-left-145 {
  padding-left: 145px;
}

.meli-padding-left-150 {
  padding-left: 150px;
}

.meli-padding-left-155 {
  padding-left: 155px;
}

.meli-padding-left-160 {
  padding-left: 160px;
}

.meli-padding-left-165 {
  padding-left: 165px;
}

.meli-padding-left-170 {
  padding-left: 170px;
}

.meli-padding-left-175 {
  padding-left: 175px;
}

.meli-padding-left-180 {
  padding-left: 180px;
}

.meli-padding-left-185 {
  padding-left: 185px;
}

.meli-padding-left-190 {
  padding-left: 190px;
}

.meli-padding-left-195 {
  padding-left: 195px;
}

.meli-padding-left-200 {
  padding-left: 200px;
}

.meli-padding-right-5 {
  padding-right: 5px;
}

.meli-padding-right-10 {
  padding-right: 10px;
}

.meli-padding-right-15 {
  padding-right: 15px;
}

.meli-padding-right-20 {
  padding-right: 20px;
}

.meli-padding-right-25 {
  padding-right: 25px;
}

.meli-padding-right-30 {
  padding-right: 30px;
}

.meli-padding-right-35 {
  padding-right: 35px;
}

.meli-padding-right-40 {
  padding-right: 40px;
}

.meli-padding-right-45 {
  padding-right: 45px;
}

.meli-padding-right-50 {
  padding-right: 50px;
}

.meli-padding-right-55 {
  padding-right: 55px;
}

.meli-padding-right-60 {
  padding-right: 60px;
}

.meli-padding-right-65 {
  padding-right: 65px;
}

.meli-padding-right-70 {
  padding-right: 70px;
}

.meli-padding-right-75 {
  padding-right: 75px;
}

.meli-padding-right-80 {
  padding-right: 80px;
}

.meli-padding-right-85 {
  padding-right: 85px;
}

.meli-padding-right-90 {
  padding-right: 90px;
}

.meli-padding-right-95 {
  padding-right: 95px;
}

.meli-padding-right-100 {
  padding-right: 100px;
}

.meli-padding-right-105 {
  padding-right: 105px;
}

.meli-padding-right-110 {
  padding-right: 110px;
}

.meli-padding-right-115 {
  padding-right: 115px;
}

.meli-padding-right-120 {
  padding-right: 120px;
}

.meli-padding-right-125 {
  padding-right: 125px;
}

.meli-padding-right-130 {
  padding-right: 130px;
}

.meli-padding-right-135 {
  padding-right: 135px;
}

.meli-padding-right-140 {
  padding-right: 140px;
}

.meli-padding-right-145 {
  padding-right: 145px;
}

.meli-padding-right-150 {
  padding-right: 150px;
}

.meli-padding-right-155 {
  padding-right: 155px;
}

.meli-padding-right-160 {
  padding-right: 160px;
}

.meli-padding-right-165 {
  padding-right: 165px;
}

.meli-padding-right-170 {
  padding-right: 170px;
}

.meli-padding-right-175 {
  padding-right: 175px;
}

.meli-padding-right-180 {
  padding-right: 180px;
}

.meli-padding-right-185 {
  padding-right: 185px;
}

.meli-padding-right-190 {
  padding-right: 190px;
}

.meli-padding-right-195 {
  padding-right: 195px;
}

.meli-padding-right-200 {
  padding-right: 200px;
}

/************************** 
           IMG 
**************************/
.meli-section-5 img, .meli-section-10 img, .meli-section-15 img, .meli-section-20 img, .meli-section-25 img, .meli-section-30 img, .meli-section-35 img, .meli-section-40 img, .meli-section-45 img, .meli-section-50 img, .meli-section-55 img, .meli-section-60 img, .meli-section-65 img, .meli-section-70 img, .meli-section-75 img, .meli-section-80 img, .meli-section-85 img, .meli-section-90 img, .meli-section-95 img, .meli-width-5 img, .meli-width-10 img, .meli-width-15 img, .meli-width-20 img, .meli-width-25 img, .meli-width-30 img, .meli-width-35 img, .meli-width-40 img, .meli-width-45 img, .meli-width-50 img, .meli-width-55 img, .meli-width-60 img, .meli-width-65 img, .meli-width-70 img, .meli-width-75 img, .meli-width-80 img, .meli-width-85 img, .meli-width-90 img, .meli-width-95 img, .meli-width-100 img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.kit-form input {
  padding: 5px 10px;
  border: 1px solid #176880;
  border-radius: 10px;
  display: block;
  width: 100%;
}
.kit-form label {
  font-weight: bold;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: white;
}
.kit-form button[type=submit], .kit-form button {
  padding: 15px 30px;
  color: white;
  background-color: #f37619;
  border: 1px solid #f37619;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s ease all;
}
.kit-form button[type=submit]:hover, .kit-form button:hover {
  background-color: white;
  color: #f37619;
}

.kit-btn {
  padding: 15px 30px;
  color: white;
  background-color: #f37619;
  border: 1px solid #f37619;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s ease all;
}
.kit-btn:hover {
  background-color: white;
  color: #f37619;
}

.animal-list .items-box .item {
  min-width: 250px;
}
.animal-list .items-box .item .img-box {
  min-height: 150px;
  margin: 10px;
}
@media screen and (max-width: 750px) {
  .animal-list form span.select2 {
    width: 100% !important;
  }
  .animal-list form .buttons-box {
    flex-direction: row;
  }
  .animal-list form .buttons-box > div {
    width: fit-content;
  }
  .animal-list .items-box .item {
    width: 90%;
    margin-inline: auto;
  }
  .animal-list .items-box .item a {
    width: fit-content;
  }
}

.animal-read .pictures-carousel {
  position: relative;
}
.animal-read .pictures-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.animal-read .pictures-carousel .owl-stage-outer {
  border: 1px solid white;
}
.animal-read .pictures-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.animal-read .pictures-carousel .owl-nav button span {
  font-size: 50px;
}
.animal-read .pictures-carousel .noPictures {
  height: 50vh;
  background-color: #cfe6ed;
}

@media screen and (max-width: 750px) {
  header {
    display: flex;
    justify-content: flex-end;
  }
  header .burger {
    width: 50px;
  }
  header .burger div {
    height: 3px;
    background-color: white;
    margin-bottom: 10px;
  }
}
.admin-aside {
  min-height: 90vh;
}
@media screen and (max-width: 750px) {
  .admin-aside {
    min-height: 0;
    max-height: 0;
    padding-top: 0;
    transition: 0.3s ease max-height;
    overflow: hidden;
  }
  .admin-aside.open-mobile {
    max-height: 300px;
  }
}

.admin-main {
  height: max-content;
}

.admin-content {
  min-height: 80vh;
  overflow-x: scroll;
}
.admin-content img {
  max-height: 200px;
}

.admin-table {
  border-collapse: collapse;
  width: 100%;
}
.admin-table th, .admin-table td {
  border: 1px solid #45619b;
  padding: 10px;
  text-align: center;
}
.admin-table button {
  width: 150px;
}
.admin-table a {
  display: inline-block;
  width: 150px;
}

.admin-form form > div {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 20px;
}
.admin-form form > div label {
  margin-bottom: 10px;
}
.admin-form form > div input, .admin-form form > div textarea, .admin-form form > div select {
  padding: 5px;
}
.admin-form form > div.row {
  flex-direction: row;
  align-items: center;
}
.admin-form form > div.row label, .admin-form form > div.row input {
  width: fit-content;
  margin-bottom: 0;
  margin-left: 10px;
}
.admin-form form .ck-editor__main .ck-content {
  min-height: 300px;
}

.admin-btn {
  padding: 15px 30px;
  color: white;
  background-color: #f37619;
  border: 1px solid #f37619;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s ease all;
}
.admin-btn:hover {
  background-color: white;
  color: #f37619;
}

@media screen and (max-width: 750px) {
  .pagination {
    flex-direction: row;
    width: fit-content;
  }
  .pagination p {
    width: fit-content;
  }
}

.modal-flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s ease opacity;
  z-index: 999;
}
.modal-flash .content {
  min-width: 30%;
  background-color: white;
  padding: 20px 20px 50px;
  border-radius: 10px;
}
.modal-flash .content .cross {
  transition: 0.3s ease color;
}
.modal-flash .content .cross:hover {
  cursor: pointer;
  color: #f37619;
}

/*# sourceMappingURL=styles.css.map */
