<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}La ferme familiale DUPONT{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="robots" content="{% block robots %}noindex, nofollow{% endblock %}">
        {% block styles %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="meli-padding-30 meli-bgc-colorPrimary"></header>

        <main class="meli-padding-top-100 meli-padding-bottom-100">
            {% block content %}{% endblock %}
        </main>

        <footer class="meli-padding-30 meli-bgc-colorPrimary"></footer>
    </body>
</html>
